@font-face {
  font-family: Proxima;
  src: url("fonts/milliard-cufonfonts/Proxima Nova Regular.otf");
}

@font-face {
  font-family: Proxima Nova Bold;
  src: url("fonts/milliard-cufonfonts/Proxima Nova Bold.otf");
}

@font-face {
  font-family: Utopia STD;
  src: url("fonts/utopia-std/UtopiaStd-Bold.otf");
}

#timekeeper-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

#notifications-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

#apps-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

#toolbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 6fr 2fr;
      grid-template-columns: 1fr 6fr 2fr;
  -ms-grid-rows: 80px;
      grid-template-rows: 80px;
  font-family: "Proxima";
}

#toolbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#toolbar .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10%;
}

#toolbar .tabs #active {
  color: #64AD98;
}

#toolbar .tabs .tab_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #7e869f;
}

#toolbar .tabs .tab_item p {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

#toolbar .tabs .tab_item:hover {
  cursor: pointer;
  color: #979ba7;
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.user_preview:hover {
  cursor: pointer;
}

.user_image {
  border-radius: 100px;
  overflow: hidden;
  width: 35px;
  height: 35px;
  z-index: 10;
}

.user_image div {
  border-radius: 100px;
}

.user_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.user_preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user_preview #user_info {
  padding: 0 0 0 10px;
}

.user_preview #user_info p {
  margin: 0;
}

.user_preview #user_info .user_email {
  font-size: 10px;
  color: #7e869f;
}

.user_options {
  margin-left: -10px;
  padding: 10px;
  z-index: 12;
  position: absolute;
  top: 10px;
  width: 17.5%;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  background-color: #F7F7F6;
  -webkit-box-shadow: 0px 1px 3px 0px #7d879f;
          box-shadow: 0px 1px 3px 0px #7d879f;
  border-radius: 10px;
  margin-right: -3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.user_options .logout {
  padding: 10px 0px 10px 10px;
  color: #7e869f;
}

.user_options .logout:hover {
  color: #D98D7A;
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.dash {
  max-width: 100%;
  height: 92vh;
  background-color: #f5f6fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dash .widget_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.dash .widget {
  width: 95%;
  height: 90%;
  border-radius: 15px;
  background-color: white;
  -webkit-box-shadow: #ebebeb 0px 0px 10px 0px;
          box-shadow: #ebebeb 0px 0px 10px 0px;
}

.dash .main_dash_container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "a a" "b c";
}

.dash .main_dash_container #container_1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: a;
}

.dash .main_dash_container #container_1 .dash_content {
  height: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: 25% 50% 25%;
      grid-template-columns: 25% 50% 25%;
      grid-template-areas: "p wh sp" "p wh sa";
}

.dash .main_dash_container #container_1 .dash_content .student_progress_cont {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: p;
}

.dash .main_dash_container #container_1 .dash_content .student_progress_cont .student_progress {
  background-color: #3A585D;
}

.dash .main_dash_container #container_1 .dash_content .weekly_hours_cont {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: wh;
}

.dash .main_dash_container #container_1 .dash_content .school_portal_cont {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: sp;
}

.dash .main_dash_container #container_1 .dash_content .schedule_appt_cont {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: sa;
}

.dash .main_dash_container #container_2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: b;
}

.dash .main_dash_container #container_2 .cb_content {
  margin-top: 15px;
  border-collapse: collapse;
  width: 100%;
}

.dash .main_dash_container #container_2 .cb_content tr {
  margin: 10px 0px;
  padding: 0 10px;
}

.dash .main_dash_container #container_2 .cb_content .cb_header {
  font-family: Proxima;
  color: #3A585D;
  font-size: 10px;
  height: 10px;
  text-align: left;
}

.dash .main_dash_container #container_2 .cb_content .cb_element {
  font-size: 10px;
  font-family: Proxima;
  color: #7e869f;
}

.dash .main_dash_container #container_2 .cb_content .cb_element td:nth-of-type(1) {
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.dash .main_dash_container #container_2 .cb_content .cb_element td:nth-of-type(5) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dash .main_dash_container #container_2 .cb_content .cb_active {
  background-color: white;
}

.dash .main_dash_container #container_3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: c;
}

.dash .main_dash_container .dash_container {
  padding: 0 4vw;
}

.dash .main_dash_container .dash_container h2 {
  font-family: Utopia STD;
  color: #3A585D;
  margin: 3vh 0 0 0;
}

.timekeeper {
  max-width: 100vw;
  height: 100%;
  background-color: #f5f6fa;
}

.apps {
  max-width: 100vw;
  height: 100%;
  background-color: #f5f6fa;
}

.notifications {
  max-width: 100vw;
  height: 100%;
  background-color: #f5f6fa;
}
/*# sourceMappingURL=main.css.map */